@import url(reset.css);

body{
	background-image: url(../images/bg.jpg);
	background-size: cover;
}

#wrapper{
	width: 90%;
	margin: 0 auto;
	position: relative;
}


h1{
	text-transform: uppercase;
	color: #fff;
	font-size: 45px;
	padding: 42px 0 30px;
	
}

.work, a{
	font-size: 25px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

.box{
	text-align: center;
}

li{
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	
}

a:hover {
  color: #FFD700;
  text-decoration: underline;
}

