@import url(reset.css);

#wrapper{
	width: 920px;
	margin: 0 auto;
}

.border, td, th{
	border: 1px solid #000000;
	height: 29px;
}

.border_2, .border_3{
	width: 583px;
	margin: 0 auto;
	margin-top: 30px;
	border: 1px solid #000000;
}

.border_3{
	width: 583px;
	margin: 0 auto;
	margin-top: 30px;
	border: 1px ridge #000;
	margin-bottom: 30px;
	border-spacing:0px;
}

.top{
	vertical-align: top;
}

