
#wrapper{
	width: 850px;
	margin: 0 auto;
}

legend, .headroom, .headroom_2, .headroom_3, .headroom_4, .mail, .spam, .questions{
	font-weight: bold;
	margin-bottom: 0;
}

.headroom_2, .headroom_3{
	padding-bottom: 15px;
}

li{
	list-style-type: none;
	padding-bottom: 8px;
}

ul{
	padding-left: 0;
}

input[name="f_name"]{
	width: 260px;
}

input[name="s_name"]{
	width: 265px;
}

input[name="age"]{
	width: 52px;
}

.form_2{
	margin-top: 23px;
}

.form_3{
	margin-top: 20px;
}

.italic{
	font-style: italic;
	font-weight: normal;
}

#submit{
	margin: 20px 0;
}

.distance li{
	padding: 0;
}

.headroom{
	margin-bottom: 0;
}

.distance_2 li{
	margin:  5px;
	padding-bottom: 0 ;
}

.title{
	font-size: 30px;
	font-weight: bold;
}

.about{
	font-size: 23px;
	font-weight: bold;
}

.headroom_4 p{
	padding-bottom: 0;
}

.distance input{
		width: 160px;
}
