
body {
	font: 16px "Times New Roman", Times, serif;;
	color: #000; 
	background-color: #0828b3;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	background-image: url(../images/list.jpg);
}

#header {
	margin-top: 37px;
	padding: 10px 0 0 25px; 
}

#header p {
	padding-top: 12px;
}

#form-info {
	padding-top: 14px;
	width: 850px;
	margin: 0 auto;
}

.part {
	text-transform: lowercase;
}

.border, .form_2, .form_3 {
	border: 1px solid #9ca9aa;
	padding-left: 15px;
}

.first-text:first-letter {
	text-transform: uppercase;
}

.border ul {
	padding-top: 20px;
}

.form_2, input [type=radio] {
	padding-top: 20px;
}

.distance li {
	padding-bottom: 0;
}

.headroom {
	padding-top: 8px;
}

.text_in {
	padding-top: 13px;
}

.title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.about {
	font-size: 23px;
	font-weight: bold;
	text-align: center;
}

.form_2 {
	margin-top: 23px;
}

.form_3 {
	margin-top: 20px;
}

.italic {
	font-style: italic;
	font-weight: normal;
}

#submit {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0 0 40px 10px;
}


legend, .headroom, .headroom_2, .headroom_3, .headroom_4, .mail, .spam, .questions {
	font-weight: bold;
}

li {
	list-style-type: none;
	padding-bottom: 8px;
}

input[name="f_name"] {
	width: 260px;
}

input[name="s_name"] {
	width: 265px;
}

input[name="age"] {
	width: 52px;
}

input[name="url"] {
	width: 700px;
}

h1 {
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	text-transform: lowercase;
	padding-top: 18px;	
}

.block {
	display: block;
}

.form_3 {
	padding-top: 15px;
}

.form_3 span {
	padding:  1% 0 0.5%;
	font-size: 16px;
	font-weight: bold;
}

legend {
	width: 155px;
}